*{scroll-behavior:smooth;}
.topnav {
  background-color: #c2d4dd;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #5b9aa0;
  color: white;
}

.topnav a.active {
  background-color: #ddeedd;
  color: white;
}
	.sprite {
	position: absolute;
	top: 50%;
	left: 0%;
	background: url("pics/bug.png") 0px 0px ;
	width: 4020px;
	height: 209px;
	animation: varName 4s steps(36) infinite;
	zoom: .4;
}
@keyframes varName{
 from{background-position-x:-8px;}
 to{background-position-x:-3509px;}
 }
header{
	color: white;
}
body{
	color: white;
}
html {
	background-image: url("pics/sheesh.jpg");
}
