*{scroll-behavior:smooth;}
.topnav {
  background-color: #c2d4dd;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #5b9aa0;
  color: white;
}

.topnav a.active {
  background-color: #ddeedd;
  color: white;
}
.sprite {
	position: absolute;
	top: 40%;
	left: 50%;
	background: transparent url('bug.png') 0 0 no-repeat;
	width: 268px;
	height: 209px;
	transform: translate (-50%, -50%);
	animation: run is infinite;
}
	
header{
	color: white;
}
body{
	color: white;
}
html {
	background-image: url("pics/sheesh.jpg");
	
}
